/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/* Optionnal */
.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  transition: all 0.3s;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.responsive-br {
  display: none;
}

/****** Header ***********/
.header {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 19px;
  max-width: 161.09px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  height: 79px;
  max-width: 344px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header__nav-list {
  max-width: 244px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}

.header__nav-link {
  position: relative;
}

.header__nav-link:hover {
  color: var(--main-color);
  transition: all 0.3s ease;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  top: -82%;
  height: 2px;
  width: 0;
  background: var(--main-color);
}

.header__nav-link:hover::before {
  width: 100%;
  transition: all 0.3s ease;
}

.phone-separator {
  display: none;
}

/****** Form ***********/
.form {
  width: 100%;
  max-width: 1340px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form__title__description {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 19px;
}

.form__search-bar {
  height: 49px;
  width: 377px;
  margin-top: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.search-bar__position {
  cursor: pointer;
  height: 100%;
  width: 13.26%;
  max-width: 50px;
  border: none;
  border-radius: 15px 0 0 15px;
  background: #f2f2f2;
}

.search-bar__position i {
  color: #000;
}

.search-bar__input {
  height: 100%;
  width: 51.72%;
  max-width: 195px;
  padding: 14px 24px;
  border: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.search-bar__input::-webkit-search-cancel-button {
  display: none;
}

.search-bar__action {
  cursor: pointer;
  height: 100%;
  width: 35.01%;
  max-width: 132px;
  border: none;
  border-radius: 0 15px 15px 0;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  background: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar__icon {
  height: 49px;
  width: 49px;
  border: none;
  border-radius: 15px;
  background: #0065fc;
  cursor: pointer;
  display: none;
}

.search-bar__icon i {
  color: #fff;
}

.form__filter {
  /* height: 50px; */
  width: 56.56%;
  max-width: 758px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.filter__title {
  font-weight: 700;
  font-size: 1.125rem;
}

.filter__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.filter__btn:nth-child(4) {
  min-width: 167px;
}

.filter__btn {
  cursor: pointer;
  height: 50px;
  width: auto;
  padding: 15px 17px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter__btn i {
  color: #0065fc;
}

.filter__btn span {
  margin: 0;
  font-weight: 700;
  font-size: 1.0625rem;
}

.filter__btn:hover {
  background: #deebff;
  transition: all 0.2s ease-in-out;
}

.form__details {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.form__details span {
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** Accommodations and Popular ***********/
.accommodations-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodations-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Accommodations ***********/
.accommodations {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accommodations__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accommodations__cards {
  height: auto;
  width: 825px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 30px;
}

.accommodations__cards .card {
  display: flex;
  flex-direction: column;
}

.accommodations__cards img {
  width: 245px;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodations__cards .card__content {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  box-sizing: border-box;
}

.accommodations__cards .card__title {
  margin-top: 10px;
  margin-bottom: 8px;
}

.accommodations__cards .card__subtitle {
  margin: 0;
}

.accommodations__cards .card__rating {
  margin-bottom: 10px;
}

.accommodations__showmore {
  margin: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

/****** Popular ***********/
.popular {
  width: 32%;
}

.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__cards .card {
  display: flex;
  margin-top: 33px;
}

.popular__cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular__cards .card__content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular__cards .card__title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular__cards .card__subtitle {
  margin: 0;
}

.popular__cards .card__rating {
  margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin-top: 35px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.activities__cards {
  /* height: 439px; */
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.activities__cards .card {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.activities__cards img {
  height: 380px;
  width: 297.5px;
  border-radius: 15px 15px 0 0;
}

.activities__cards h3 {
  font-size: 1rem;
  margin: 20px 19px;
}

/****** Footer ***********/
.footer {
  position: relative;
  height: 163px;
  width: 100%;
  margin-top: 35px;
  background: #f2f2f2;
  display: flex;
}

.footer__nav {
  width: 100%;
  display: flex;
}

.footer__col {
  height: 100%;
  width: 33.33%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.footer__col ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__col h4 {
  font-size: 1.125rem;
  margin: 0;
}

.footer__col a:hover {
  text-decoration: underline;
}
