/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  border: 1px dashed #000;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.header {
  position: relative;
  left: -50px;
  height: 79px;
  width: calc(100% + 100px);
  max-width: 1440px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  height: 100%;
  width: 11.18%;
  max-width: 161.09px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  height: 35px;
  width: 23.88%;
  max-width: 344px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-list {
  height: 100%;
  width: 70.93%;
  max-width: 244px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__nav-link {
  position: relative;
}

.header__nav-link:hover {
  color: #0065fc;
  transition: all 0.3s ease;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  top: -85%;
  height: 2px;
  width: 0;
  background: #0065fc;
}

.header__nav-link:hover::before {
  width: 100%;
  transition: all 0.3s ease;
}

/****** Form ***********/
.form {
  height: 285px;
  width: 100%;
  max-width: 1340px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form-title__description {
  margin: 0;
  margin-top: 8px;
}

.form__search-bar {
  height: 49px;
  width: 377px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  display: flex;
}

.search-bar__position {
  cursor: pointer;
  height: 100%;
  width: 13.26%;
  max-width: 50px;
  border: none;
  border-radius: 15px 0 0 15px;
  background: #f2f2f2;
}

.search-bar__position i {
  color: #000;
}

.search-bar__input {
  height: 100%;
  width: 51.72%;
  max-width: 195px;
  padding: 14px 24px;
  border: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.search-bar__input::-webkit-search-cancel-button {
  display: none;
}

.search-bar__action {
  cursor: pointer;
  height: 100%;
  width: 35.01%;
  max-width: 132px;
  border: none;
  border-radius: 0 15px 15px 0;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  background: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__filtres {
  height: 50px;
  width: 56.56%;
  max-width: 758px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.filtres__title {
  font-weight: 700;
  font-size: 1.125rem;
}

.filtres__btn {
  cursor: pointer;
  height: 100%;
  padding: 15px 17px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filtres__btn i {
  color: #0065fc;
}

.filtres__btn h4 {
  margin: 0;
  font-weight: 700;
  font-size: 1.0625rem;
}

.filtres__btn:hover {
  background: #deebff;
  transition: all 0.2s ease-in-out;
}

.form__infos {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.form__infos span {
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hebergements__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
